# Ignore virtual environments
myenv/


# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment configuration files
*.env

# Ignore IDE/editor configurations
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
